@charset "UTF-8";

$offset: 94.5;
$rotate: 13deg;
$hexWidth: 27.5vw;
$baseColor: #fff;
$baseColorDark: #161616;
$baseBgColor: #fff;
$BgColorA: #ff007f;
$BgColorC: #0080ff;
$BgColorD: #ffC000;
$navColor: #444;
$bgButton: #444;
$bgButtonDis: #777;
$placeholder: #aaa;

$serif: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
$sansSerif: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
$sansRounded: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

@mixin textGlow($shading:1px, $color:$baseColor) {
	text-shadow:
		2px	 0	  $shading	$color,
		-2px 0	  $shading	$color,
		0	 2px  $shading	$color,
		0	 -2px $shading	$color,
		2px	 2px  $shading	$color,
		2px	 -2px $shading	$color,
		-2px 2px  $shading	$color,
		-2px -2px $shading	$color;
}
@mixin fitSize($top:0, $right:0, $bottom:0, $left:0) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

/* ----------- Chromeのtransitionバグ対策 ---------- */
.preload * {
    -webkit-transition: none !important;
    transition: none !important;
}

/* ----------- リセット ---------- */
* {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	font-weight: normal;
}

/* ----------- 基本 ---------- */
html {
	font-size: 10px;
	font-family: $serif;
	line-height: 1.5;
	color: $baseColor;
}
/* iPad以上のフォントサイズ */
@media screen and (min-width: 768px) and (orientation: portrait), 
 screen and (min-width: 1024px) and (orientation: landscape) {
	html {
		font-size: 15px;
	}
}

h1 {
	font-size: 1.4rem;
	color: $navColor;
}
h2 {
	font-family: $sansSerif;
	font-size: 2rem;
	margin-bottom: 1.5em;
}
nav {
	font-size: 1.3rem;
	color: $navColor;
}
p {
	font-size: 1.6rem;
}
label {
	cursor: pointer;
}

input[name="swDisplay"] {
	position: fixed;
	z-index: 0;
	top: -9999px;
	left: -9999px;
}

/* ----------- レイアウト ---------- */
body {
	overflow: hidden;
}
#wraper {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#partA,
#partB,
#partC,
#partD,
#partE,
nav {
	position: absolute;
}
#partA,
#partB {
	width: 200vw;
	height: 200vw;
	right: 50%;
	bottom: 50%;
	margin-bottom: -100vw;
	// margin-bottom: -100vmax; // センター、基準位置
	background-color: $baseBgColor;
}
#partC,
#partD,
#partE {
	overflow: auto;
	opacity: 0;
}
#partC,
#partD {
	@include fitSize();
}
#partA {
	margin-right: -50vw + $offset;
	border-right: 1px solid #bbb;
}
#partB {
	margin-right: -250vw + $offset;
	border-left: 1px solid #bbb;
}
#partE {
	top: -100vh;
	left: -100vw;
	width: 100vw;
	height: 300vh;
}
nav {
	right: 50%;
	bottom: 50%;
	width: 3.5em;
	height: 200vw;
	margin-right: -50vw + $offset;
	margin-bottom: -100vw;
	li {
		position: absolute;
		right: 0;
		bottom: 100vw;
		width: 4em;
		text-align: right;
	}
	#navAbout {
		margin-bottom: 20vh;
	}
	#navWorks {
		margin-bottom: -10vh;
	}
	#navContact {
		margin-bottom: -40vh;
	}
}
/* ----------- 重なり順(z-index) ---------- */
#partA,
#partB {
	z-index: 999;
}
#partC,
#partD,
#partE {
	z-index: 9;
}
nav {
	z-index: 99999;
	li {
		z-index: 9999;
	}
}

/* ----------- 変形 ---------- */
#partA,
#partB {
	transform: rotate3d(0,0,1,$rotate);
}
#partA {
	transform-origin: 100% 70%; // 画面中央から40vmax下
}
#partB {
	transform-origin: 0% 70%;
}
#partC {
	transform: translate3d(0.1px, 0, 0) skew(-$rotate, 0);
}

nav {
	transform: rotate3d(0,0,1,$rotate);
	transform-origin: 0% 70%;
	li {
		transform: rotate3d(0,0,1,-$rotate);
	}
}


/* ----------- トランジション・アニメーション ---------- */
h1#toHome,
h1#toHome label::after,
#wraper,
nav,
nav li,
#partA,
#partB,
#partC,
#partD,
#partE {
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-property: transform, background-color, border, box-shadow, text-shadow, opacity, filter, z-index;
}
#partE {
	transition-property: height, z-index;
}

/* ----- いずれかのmenuが押されたとき ----- */
h1#toHome label:after {
	#swAbout:checked ~ &,
	#swWorks:checked ~ &,
	#swContact:checked ~ & {
		opacity: 1;
		box-shadow: 0 0 5vw rgba(0,0,0,0.2);
	}
}
/* ----- Aboutが押されたとき ----- */
#swAbout:checked ~ {
	nav {
		transform: translate3d(-14vw, 0, 0) rotate3d(0,0,1,$rotate);
		li {
			transform: translate3d(0, -23vh, 0);
		}
		#navAbout {
			transform: translate3d(0, -23vh, 0) scale(1.5, 1.5) rotate3d(0,0,1,-$rotate);
			@include textGlow;
			label {
				cursor: default;
			}
		}
		#navWorks,
		#navContact {
			opacity: 0;
		}
	}
	#partA {
		transform: translate3d(-14vw, 0, 0) rotate3d(0,0,1,$rotate);
		box-shadow: 0 0 5vw rgba(0,0,0,0.2);
		border-right: 1px solid $baseBgColor;
	}
	#partB {
		transform: translate3d(85vw, 0, 0) rotate3d(0,0,1,$rotate);
		border-left: 1px solid $baseBgColor;
	}
	#partC {
		z-index: 99;
		opacity:1;
	}
}
/* ----- Worksが押されたとき ----- */
#swWorks:checked ~ {
	nav {
		transform: translate3d(85vw, 0, 0) rotate3d(0,0,1,$rotate);
		li {
			transform: translate3d(3.5em, 35vh, 0) rotate3d(0,0,1,-$rotate);
		}
		#navWorks {
			transform: translate3d(3.5em, 35vh, 0) scale(1.5, 1.5) rotate3d(0,0,1,-$rotate);
			@include textGlow;
			label {
				cursor: default;
			}
		}
		#navAbout,
		#navContact {
			opacity: 0;
		}
	}
	#partA {
		transform: translate3d(85vw, 0, 0) rotate3d(0,0,1, $rotate);
		background-color: $BgColorA;
		border-right: 1px solid $baseBgColor;
	}
	#partB {
		transform: translate3d(85vw, 0, 0) rotate3d(0,0,1, $rotate);
		border-left: 1px solid $baseBgColor;
		box-shadow: 0 0 5vw rgba(0,0,0,0.2);
		z-index: 9999;
	}
	#partE {
		transform: translate3d(100vw, 100vh, 0);
		height: 100vh;
		z-index: 999;
		opacity: 1;
	}
}
/* -- アイテムが押されたとき -- */
/* -- iframe表示も参照 -- */
#outerIframe.onItem ~ {
	#toHome,
	nav,
	#partA,
	#partB,
	#partE {
		filter: blur(0.5vw) brightness(0.6);
	}
}

/* ----- Contactが押されたとき ----- */
#swContact:checked ~ {
	nav {
		transform: rotate3d(0,0,1, -12deg);
		li {
			transform: translate3d(2.5em, 6vw, 0) rotate3d(0,0,1, 12deg);
		}
		#navContact {
			transform: translate3d(2.5em, 6vw, 0) scale(1.5, 1.5) rotate3d(0,0,1, 12deg);
			@include textGlow;
			label {
				cursor: default;
			}
		}
		#navAbout,
		#navWorks {
			opacity: 0;
		}
	}
	#partA {
		transform: rotate3d(0,0,1, -12deg);
		box-shadow: 0 0 5vw rgba(0,0,0,0.2);
		border-right: 1px solid $baseBgColor;
	}
	#partB {
		transform: rotate3d(0,0,1, 78deg);
		box-shadow: 0 0 3vw rgba(0,0,0,0.2);
		border-left: 1px solid $baseBgColor;
	}
	#partD {
		z-index: 9;
		opacity:1;
	}
}


/* ----------- コンテント ---------- */

/* ------ ナビゲーション ----- */
nav {
	text-align: right;
	li {
		list-style: none;
		padding-right: 4px;
	}
}
/* ------ h1-メインタイトル ----- */
h1#toHome {
	position: relative;
	padding: 5px 0 0 10px;
	z-index: 999999;
	@include textGlow;
}
/* -- 閉じボタン -- */
h1#toHome label::after,
#outerIframe .closer {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	height: 2.2rem;
	width: 3.2rem;
	line-height: 2.2rem;
	text-align: center;
	font-family: $sansSerif;
	font-weight: bold;
	font-size: 2rem;
	color: $baseColor;
	background-color: $bgButton;
}
h1#toHome label::after {
	content: "╳";	
	text-shadow: none;	
	opacity: 0;
}

#partC {
	background-color: $BgColorC;
}
#partD {
	background-color: $BgColorD;
}

section {
	padding: 40px 7vw 50px;
	overflow: hidden;
	#partC & {
		margin: 0 8%;
	}
	#partD & {
		margin: 0 10%;
	}
	#partE & {
		padding: 7vh 0 ($hexWidth * 1.149 / 4 + 9) 0.2vw;
		// ----- 六角形のグリッド ------
		article {
			position: relative;
			box-sizing: border-box;
			-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			float: left;
			width: $hexWidth;
			height: $hexWidth * 1.149;
			margin-bottom: -1 * ($hexWidth * 1.149 / 4) + 0.4;
			margin-left: 0.2vw;
			background-color: #aaa;
			border: solid $BgColorA 0.1vw;
			overflow: hidden;
			&:nth-of-type(6n+1) {
				margin-left: ($hexWidth / 2 + 0.4);
			}
			h3,
			a {
				position: relative;
				font-family: $sansSerif;
				padding: 25% 0.5em 5%;
				font-size: 1.9rem;
				color: $baseColor;
				text-decoration: none;
				text-shadow: 0 0 0.5vw rgba(0,0,0,1);
				z-index: 1;
			}
			p {
				position: relative;
				padding: 0 0.5em;
				font-style: 1.5rem;
				text-shadow: 0 0 0.5vw rgba(0,0,0,1);
				z-index: 1;
			}
			figure {
				position: absolute;
				@include fitSize();
				z-index: 0;
				img {
					filter: brightness(50%);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				.vertical {
					width: 100%;
				}
			}
		}
	}
}
// - ie
@media all and (-ms-high-contrast: none) {
	#partE section article {
		border-radius: 50% / 37%;
		border-top: solid $BgColorA 0.2vw;
	}

}
@supports (-ms-ime-align:auto) {
	#partE section article {
		border-radius: 50% / 37%;
		border-top: solid $BgColorA 0.2vw;
	}
}


/* ---------- iframe表示 ---------- */

#outerIframe {
	position: fixed;
	@include fitSize();
  	z-index: 9;
  	
  	&.on {
  		z-index: 99;
  		#divIframe iframe {
			@include fitSize();
			height: 100vh;
		   min-height: 100%;
		   max-height: 100%;
		   width: 100vw;
		   min-width: 100%;
		   max-width: 100%;
  		}
  	}
  	&.onItem {
  		z-index: 9999999;
  		#divIframe iframe {
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			margin-top: -49vh;
			margin-left: -49vh;
			height: 98vh;
			width: 98vh;
  		}
  	}
  	#divIframe {
  		position: absolute;
  		@include fitSize();
  		iframe {
		   display: block;
		   border: none;
		   overflow: auto;
		}
  	}
}

/* ---------- contactページ ---------- */
#contact {
	max-width: 800px;
   margin: 0 auto;
	overflow: auto;
	color: $baseColorDark;
	main {
		padding: 50px 20px 100px;
		section {
			padding-bottom: 0;
		}
		p {
			font-size: 1.7rem;
			margin-bottom: 1.8rem;	
		}
		.error span {
			color: #1a237e;
			font-family: $sansSerif;
			font-weight: bold;
		}
		input[type="radio"] {
			margin: 0 2px;
			border: 1px solid #ccc;
		}
		input[type="text"],
		input[type="email"],
		textarea {
			box-sizing: border-box;
	   	width: 100%;
	   	padding: 10px 5px;
	   	margin-bottom: 5px;
	   	font-family: $sansRounded;
	   	font-size: 1.7rem;
	   	border: 1px solid #ccc;
	   	border-radius: 5px;
	   	box-shadow: 1px 1.5px 2px rgba(0, 0, 0, 0.1) inset;
		}
		input[type="text"]:focus,
		input[type="email"]:focus,
		textarea:focus {
			border: 1px solid #bc1db1;
		}
		textarea {
	   	height: 16.2em;
		}
		input[type="submit"] {
	   	display: block;
	   	width: 50%;
	   	margin: 0 auto 15px;
	   	padding: 13px 0;
	   	background-color: $bgButton;
	   	color: $baseColor;
	   	border: none;
	   	border-radius: 5px;
	   	letter-spacing: 0.5em;
	   	font-size: 1.7rem;
		}
		.inquiry {
			dl {
				margin-bottom: 3rem;
				overflow: hidden;
			}
			dt {
				font-size: 1.6rem;
			}
			dd {
				margin-bottom: 0.5em;
				padding-bottom: 0.5em;
				font-family: $sansRounded;
				font-size: 2.2rem;
				border-bottom: 1px solid rgba(255,255,255,0.5);
			}
			form p {
				text-align: center;
				input[name="back"] {
					display: inline-block;
					width: 15%;
					margin: 0 10px 15px auto;
					background-color: $bgButtonDis;
					letter-spacing: 0.1em;
				}
				input[name="send"] {
					display: inline-block;
					width: 45%;
					margin: 0 auto 15px 10px;
				}
			}
		}
	}
}
