@charset "UTF-8";

$rotate: 13deg;
$offset: 94.5;
$baseColor: #fff;
$baseBgColor: #fff;
$BgColorA: #ff007f;
$BgColorC: #0080ff;
$BgColorD: #60dd00;
$navColor: #444;
$serif: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
$sansSerif: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;

@mixin textGlow($shading:1px, $color:$baseColor) {
	text-shadow:
		2px	 0	  $shading	$color,
		-2px 0	  $shading	$color,
		0	 2px  $shading	$color,
		0	 -2px $shading	$color,
		2px	 2px  $shading	$color,
		2px	 -2px $shading	$color,
		-2px 2px  $shading	$color,
		-2px -2px $shading	$color;
}

/* ----------- Chromeのtransitionバグ対策 ---------- */
.preload * {
    -webkit-transition: none !important;
    transition: none !important;
}

/* ----------- リセット ---------- */
* {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	font-weight: normal;
}

/* ----------- 基本 ---------- */
html {
	font-size: 10px;
	font-family: $serif;
	line-height: 1.5;
	color: $baseColor;
}
h1 {
	font-size: 1.4rem;
	color: $navColor;
}
nav {
	font-size: 1.3rem;
	color: $navColor;
}
p {
	font-size: 1.6rem;
}
label {
	cursor: pointer;
}

input[name="swDisplay"] {
	position: fixed;
	z-index: 0;
	top: -9999px;
	left: -9999px;
}

/* ----------- レイアウト ---------- */
body {
	overflow: hidden;
}
#wraper {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#partA,
#partB,
#partC,
#partD,
#partE,
nav {
	position: absolute;
}
#partA,
#partB {
	width: 200vmax;
	height: 200vmax;
	right: 50%;
	bottom: 50%;
	margin-bottom: -100vmax; // センター、基準位置
	z-index: 99;
	background-color: $baseBgColor;
}
#partC,
#partD,
#partE {
	overflow: auto;
	z-index: 0;
	opacity: 0;
}
#partC,
#partD {
	top: 0;
	bottom: 0;
}
#partA {
	margin-right: -50vmax + $offset;
	border-right: 1px solid #bbb;
}
#partB {
	margin-right: -250vmax + $offset;
	border-left: 1px solid #bbb;
}
#partE {
	top: -100vh;
	left: -100vw;
	width: 100vw;
	height: 300vh;
	z-index: 99;
}
nav {
	right: 50%;
	bottom: 50%;
	width: 3.5em;
	height: 200vmax;
	margin-right: -50vmax + $offset;
	margin-bottom: -100vmax;
	z-index: 99999;
	li {
		position: absolute;
		right: 0;
		bottom: 100vmax;
		width: 4em;
		text-align: right;
		z-index: 9999;
	}
	#navAbout {
		margin-bottom: 20vh;
	}
	#navWorks {
		margin-bottom: -10vh;
	}
	#navContact {
		margin-bottom: -40vh;
	}
}

/* ----------- 変形 ---------- */
#partA,
#partB {
	transform: rotate3d(0,0,1,$rotate);
}
#partA {
	transform-origin: 100% 70%; // 画面中央から40vmax下
}
#partB {
	transform-origin: 0% 70%;
}
#partC {
	transform: translate3d(0.1px, 0, 0) skew(-$rotate, 0);
}

nav {
	transform: rotate3d(0,0,1,$rotate);
	transform-origin: 0% 70%;
	li {
		transform: rotate3d(0,0,1,-$rotate);
	}
}


/* ----------- トランジション・アニメーション ---------- */
h1#toHome label::after,
#wraper,
nav,
nav li,
#partA,
#partB,
#partC,
#partD,
#partE {
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}
h1#toHome label::after {
	transition-property: opacity;
}
nav {
	transition-property: transform;
	li {
		transition-property: opacity transform;
	}
}
#partA {
	transition-property: transform background-color border-right box-shadow;
}
#partB {
	transition-property: transform border-left;
}
#partC,
#partD {
	transition-property: z-index opacity;
}
#partE {
	transition-property: transform height opacity z-index;
}

/* ----- いずれかのmenuが押されたとき ----- */
h1#toHome label:after {
	#swAbout:checked ~ &,
	#swWorks:checked ~ &,
	#swContact:checked ~ & {
		opacity: 1;
		box-shadow: 0 0 5vmax rgba(0,0,0,0.2);
	}
}
/* ----- Aboutが押されたとき ----- */
#swAbout:checked ~ {
	nav {
		transform: translate3d(-14vmax, 0, 0) rotate3d(0,0,1,$rotate);
		li {
			transform: translate3d(0, -23vh, 0);
		}
		#navAbout {
			transform: translate3d(0, -23vh, 0) rotate3d(0,0,1,-$rotate);
			label {
				cursor: default;
			}
		}
		#navWorks,
		#navContact {
			opacity: 0;
		}
	}
	#partA {
		transform: translate3d(-14vmax, 0, 0) rotate3d(0,0,1,$rotate);
		box-shadow: 0 0 5vmax rgba(0,0,0,0.2);
		border-right: 1px solid $baseBgColor;
	}
	#partB {
		transform: translate3d(85vmax, 0, 0) rotate3d(0,0,1,$rotate);
		border-left: 1px solid $baseBgColor;
	}
	#partC {
		z-index: 9;
		opacity:1;
	}
}
/* ----- Worksが押されたとき ----- */
#swWorks:checked ~ {
	nav {
		transform: translate3d(85vmax, 0, 0) rotate3d(0,0,1,$rotate);
		li {
			transform: translate3d(3.5em, 35vh, 0) rotate3d(0,0,1,-$rotate);
		}
		#navWorks label {
			cursor: default;
		} 
		#navAbout,
		#navContact {
			opacity: 0;
		}
	}
	#partA {
		transform: translate3d(85vmax, 0, 0) rotate3d(0,0,1, $rotate);
		background-color: $BgColorA;
		border-right: 1px solid $baseBgColor;
		z-index: 999;
	}
	#partB {
		transform: translate3d(85vmax, 0, 0) rotate3d(0,0,1, $rotate);
		border-left: 1px solid $baseBgColor;
		z-index: 9999;
	}
	#partE {
		transform: translate3d(100vw, 100vh, 0);
		height: 100vh;
		z-index: 999;
		opacity: 1;
	}
}
/* ----- Contactが押されたとき ----- */
#swContact:checked ~ {
	nav {
		transform: rotate3d(0,0,1, -12deg);
		li {
			transform: translate3d(2.5em, 6vmax, 0) rotate3d(0,0,1, 12deg);
		}
		#navContact {
			@include textGlow;
			label {
				cursor: default;
			}
		}
		 
		#navAbout,
		#navWorks {
			opacity: 0;
		}
	}
	#partA {
		transform: rotate3d(0,0,1, -12deg);
		box-shadow: 0 0 5vmax rgba(0,0,0,0.2);
		border-right: 1px solid $baseBgColor;
	}
	#partB {
		transform: rotate3d(0,0,1, 78deg);
		border-left: 1px solid $baseBgColor;
	}
	#partD {
		z-index: 9;
		opacity:1;
	}
}


/* ----------- コンテント ---------- */

/* ------ ナビゲーション ----- */
nav {
	text-align: right;
	li {
		list-style: none;
		padding-right: 4px;
	}
}

h1#toHome {
	position: relative;
	padding: 5px 0 0 10px;
	z-index: 999999;
	@include textGlow;
	label::after {
		content: "╳";
		position: absolute;
		display: block;
		right: 0;
		top: 0;
		height: 22px;
		width: 32px;
		line-height:22px;
		text-align: center;
		font-family: $sansSerif;
		font-weight: bold;
		font-size: 20px;
		text-shadow: none;
		background-color: #eee;
		opacity: 0;
	}
}
#partC {
	background-color: $BgColorC;
}
#partD {
	background-color: $BgColorD;
}
section {
	padding: 40px 7vw 50px;
	overflow: hidden;
	#partC & {
		margin: 0 8%;
	}
	#partD & {
		margin: 0 10%;
	}
	#partE & {
		padding: 7vh 0 (28vmax * 1.157 / 4 + 9) 0.4vmax;
		article {
			position: relative;
			clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			float: left;
			width: 28vmax;
			height: 28vmax * 1.157;
			margin-right: 0.2vmax;
			margin-bottom: -1 * (28vmax * 1.157 / 4) + 0.4;
			margin-left: 0.2vmax;

			background-color: #f6f6f6;

			&:nth-of-type(6n+1) {
				margin-left: (28vmax / 2 + 0.4);
			}
		}
	}
}
