@charset "UTF-8";

/* ----------- コンテント ---------- */
#partE section {
	padding: 7vh 0 (21.9vmax * 1.157 / 4 + 9) 0.2vmax;
	article {
		width: 21.9vmax;
		height: 21.9vmax * 1.157;
		margin-right: 0.1vmax;
		margin-bottom: -1 * (21.9vmax * 1.157 / 4) + 0.2;
		margin-left: 0.1vmax;
		&:nth-of-type(6n+1) {
			margin-left: 0.1vmax;
		}
		&:nth-of-type(8n+1) {
			margin-left: (21.9vmax / 2 + 0.2);
		}
	}
}

